{%if data%}
==== IMPLEMENTATIONS 
{%endif%}
{%for impl in data %}
|===
|{{impl.element_kind}}
|{{impl.fqn|replace('.', '.​')}}{# Replace dot with dot and zero-width space to allow line breaks #}

|===
{%endfor%}
