{%if data%}
==== MVRS
{%endif%}
{%for mvr_info in data%}
[cols="1a,1"]
|===
|*MVR ID*|*Result*
|{{mvr_info.id.urn}}:{{mvr_info.id.id}}| {%if mvr_info.passed%} passed {% else %} failed {%endif%}
2+|*Comment*
2+|{{mvr_info.comment}}
2+|*Referenced SVCs*
2+|
[cols="1" frame="none" grid="none"]
!===
{%for svc in mvr_info.svc_ids%}
!{{svc.urn}}:{{svc.id}}
{%endfor%}
!===
|===
{%endfor%}

