=== REQUIREMENT {{report.id}}
[cols="1,1"]
|===
|*Identifier*|*Requirement name*
|{{report.id}}
|{{report.title}}
2+|{{report.description}}
|*Rationale* |*Verification*
|{{report.rationale}}
|{{report.verification}}
|===

