=== REQUIREMENT {{data.id}}
[cols="1,1"]
|===
|*Identifier*|*Requirement name*
|{{data.id}}
|{{data.title}}
2+|{{data.description}}
|*Rationale* |*Verification*
|{{data.rationale}}
|{{data.verification}}
|===

