

== TOTAL STATISTICS

[cols="0.5,1a"]
|===
| Total Requirements: {{data.nr_of_total_requirements}}|
!===
!Implemented and Verified ! Implemented ! Not Implemented 
!{{data.nr_of_completed_requirements}}
!{{data.nr_of_reqs_with_implementation - data.nr_of_completed_requirements}}
!{{data.nr_of_total_requirements - data.nr_of_reqs_with_implementation}}
!===
| Total Tests / SVCs: ( {{data.nr_of_total_tests}} / {{data.nr_of_total_svcs}} )|
!===
!Passed tests !Failed tests !Skipped tests !SVC's missing tests !SVCs missing MVRs  
!{{data.nr_of_passed_tests}}
!{{data.nr_of_failed_tests}}
!{{data.nr_of_skipped_tests}}
!{{data.nr_of_missing_automated_tests}}
!{{data.nr_of_missing_manual_tests}}
!===
|===

