name: Build PyPI
on:
  workflow_call:
  workflow_dispatch:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  linting:
    name: Reuse linting job
    uses: ./.github/workflows/lint.yml

  build:
    needs: linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 #full history
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install hatch
      - name: Run unit and integrations tests
        run: hatch run test:pytest --cov=reqstool-client --cov-report=xml --cov-report=html -o junit_family=xunit2 --junitxml=build/junit.xml
      - name: Build project
        run: hatch build
      - name: Test reqstool-client from build by installing and running
        run: |
          WHL_FILE=$(ls dist/*.whl)
          pip install $WHL_FILE
          reqstool status local -p docs/reqstool
      # Upload artifacts for later use
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
