name: Lint (black and flake8)
on:
  workflow_dispatch:
  workflow_call:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install pip package(s)
        run: pip install hatch
      - name: Run black formatter check
        run: hatch run dev:black --check --verbose src tests
      - name: Run flake8 linter
        run: hatch run dev:flake8
      - name: Install pip package check-jsonschema
        run: pip install check-jsonschema
      - name: Validate JSON Schemas
        run: check-jsonschema --verbose --schemafile "https://json-schema.org/draft/2020-12/schema" src/reqstool/resources/schemas/*/*
